mixin getBanner(parent='main')
  section.banner(class=`${(parent) ? `${parent}__banner` : ''}`)
    picture.banner-bg.banner__bg
      source(srcset=`/img/banner/${banner.bg.name}.webp` type='image/webp')
      img.banner-bg__img(src=`/img/banner/${banner.bg.name}.jpg` alt=banner.bg.alt)
    .banner__wrapper
      h1.banner-title.banner__title
        span.banner-title__text= banner.title
      p.banner-info.banner__info
        span.banner-info__text= banner.info
      a.banner-btn.banner__btn.pulse(href=banner.btn.link title=banner.btn.text)
        span.banner-btn__text= banner.btn.text
    a.banner-down.banner__down(href=banner.btn.arrowLink aria-label=banner.btn.arrowTitle title=banner.btn.arrowTitle)
      svg.banner-down__icon
        use(href='/img/sprite.svg#arrow-down')
